.content {
    padding:20px;
    margin:20px;
    width:800px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

.content h1 {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -moz-margin-start:0;
    -webkit-margin-start:0;
    -moz-margin-end:0;
    -webkit-margin-end:0;
}

.thing-to-do-box {
    padding:10px;
    width:700px;
    min-height:300;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid black;
}

.thing-to-do {
    margin:10px;
    margin-left:20px;
    display:list-item;
}

.left-to-right {
    float:left;
}

.top-down {
    clear:both;
}

.unready {
}

.comparison {
    float:left;
    width:46%;
    /*height:95%;*/
}

